$background-color: #fafbff;
$white: #fefeff;
$light-grey: #e8eaf2;
$grey: #c2c8da;
$dark-grey: #9a9ca3;
$black: #50576a;
$blue: #c3cdff;

$header-height: 75px;
$main-content: 100vh;
$font-family: "Pretendard-Regular";
$default-font-size: 16px;
$default-transition: all 200ms ease;
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin boxShadow {
  box-shadow: 7px 7px 10px -4px rgba(168, 168, 168, 0.2);
  -webkit-box-shadow: 7px 7px 10px -4px rgba(168, 168, 168, 0.2);
  -moz-box-shadow: 7px 7px 10px -4px rgba(168, 168, 168, 0.2);
}
@mixin boxShadowDark {
  box-shadow: 5px 5px 8px -3px rgba(125, 125, 125, 0.6);
  -webkit-box-shadow: 5px 5px 8px -3px rgba(125, 125, 125, 0.6);
  -moz-box-shadow: 5px 5px 8px -3px rgba(125, 125, 125, 0.6);
}

@mixin flexBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  margin: 0;
  background-color: $background-color;
  padding: 0;
  height: 100vh;
  font-size: $default-font-size;
  overflow-y: hidden;
  font-family: $font-family;
  color: $black;
  user-select: none;
}
* {
  font-size: $default-font-size;
  font-family: $font-family;
  letter-spacing: -1.5px;
}
input {
  outline: none;
  border: none;
  padding: 0 10px;
}
input:focus {
  outline: none;
}
.box-shadow {
  box-shadow: 7px 7px 10px -4px rgba(168, 168, 168, 0.2);
  -webkit-box-shadow: 7px 7px 10px -4px rgba(168, 168, 168, 0.2);
  -moz-box-shadow: 7px 7px 10px -4px rgba(168, 168, 168, 0.2);
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

i {
  user-select: none;
  &:hover {
    transform: scale(1.1);
    transition: $default-transition;
    color: rgb(255, 146, 146);
  }
}
